
    <style>
        .centrarl {
            position: relative;
            top: 95px;
            right: 57px;
            width: 69rem;
        }

        .flex-card {
          /*  width: 22rem;
            height: 10rem;
            padding-block: 35px;
            border-radius: 12px;
            margin: 4px;
            background-color: #33D0FF;
        display: flex;
        justify-content: center;*/
        width: 22rem;
        height: 10rem;
        padding-block: 35px;
        border-radius: 7px;
        margin: 4px;
        background-color: #50b3c7;
        display: flex;
        justify-content: center;
        }

        .flex-row {
            margin-block: 10px;
            padding: 0 26px;
        }

        .flex-card-body {
            width: 71rem;
        }

        .flex-title {
        color: black;
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
       /* font-family: Nanum Gothic;*/
       font-family:Noto Naskh;
    }

        

        .route {
            cursor: pointer;
        text-decoration: none;
        }

    </style>
    <div class="content-wrapper">
        <div class="card border-1 bg-card ">

            <div class="card-body ">
                <div class="row  flex-row">
                    <div class="col-lg-12 col-md-12 col-xs-1">
                    <div class="row" style=" --bs-gutter-x: 1.5rem;    justify-content: center;">
                  @if (ViewContext.HttpContext.User.IsInRole("admin"))
                            {
                                <div class="col-lg-4 col-md-4 col-xs-12 flex-card">
                                    <a class="route" value="../Account/Index">

                                        <div class="card-body ">
                                            <h4 class="card-title flex-title">   المستخدمين </h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12 flex-card">
                                    <a class="route" value="../RolesManager/Index">
                                        <div class="card-body ">
                                            <h4 class="card-title flex-title">   الصلاحيات </h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12 flex-card">
                                    <a class="route" value="../Reports/Index">
                                        <div class="card-body ">

                                            <h4 class="card-title flex-title">التقارير</h4>
                                        </div>
                                    </a>
                                </div>
                            }
                        @if (ViewContext.HttpContext.User.IsInRole("admin") || ViewContext.HttpContext.User.IsInRole("manager") || ViewContext.HttpContext.User.IsInRole("user"))
                        {
                            <div class="col-lg-4 col-md-4 col-xs-12 flex-card">
                                <a class="route" value="../Facility/Index">
                                    <div class="card-body ">

                                        <h4 class="card-title flex-title">   الزيارة</h4>
                                    </div>
                                </a>
                            </div>}
                        @if (ViewContext.HttpContext.User.IsInRole("admin") || ViewContext.HttpContext.User.IsInRole("manager") )
                            {
                                <div class="col-lg-4 col-md-4 col-xs-12 flex-card">
                                    <a class="route" value="../Department/Index">
                                        <div class="card-body ">

                                            <h4 class="card-title flex-title">   الخدمات</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12 flex-card">
                                    <a class="route" value="../FacilityType/Index">
                                        <div class="card-body ">

                                            <h4 class="card-title flex-title">   انواع المنشأت</h4>
                                        </div>
                                    </a>
                                </div>
                            }

                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
   



