
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - markettng</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">

</head>
<style>
    .btn {
        color: black !important;
        font-family: Noto Naskh !important;
        font-size: 14px !important;
        font-weight: bold !important;
        background-color: #50b3c7 !important;
    }
</style>
<body >
    <!-- Content -->
    <div class="container">

        <main role="main" class="pb-3">


            @RenderBody()
        </main>
    </div>
   
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Modal", required: false)
</body>
</html>
