@model CommonVm<DepartmentDto>
<!--- Start form for Create -->
<div class="offcanvas offcanvas-end" id="offcanvasAdd">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="exampleModalLabel">إضافة مستخدم - </h5>
        <button type="button"
                class="btn-close text-reset"
                data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
    </div>
    <div class="offcanvas-body flex-grow-1">
        <form method="post" id="departmentDto" class="add-new-record row g-2 pt-0" >

           
            <div class="col-sm-12">
                <label class="form-label" asp-for="obj.Name"></label>

                <input type="text" id="FacilityActivity" class="form-control" name="Name">
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
         
          
            
          
            <div class="col-sm-12">
                <label class="form-label" asp-for="obj.other"></label>

                <input type="text" id="other" class="form-control" name="other">
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
          
            <div class="col-sm-12">

                <button type="submit" class="btn btn-primary d-grid w-100 mb-2 send-btn">اضافة</button>
                <button type="button" class="btn btn-label-secondary d-grid w-100" data-bs-dismiss="offcanvas">
                    إلغاء
                </button>
                <div></div>
            </div>
        </form>
    </div>
</div>
