<div class="offcanvas offcanvas-end" id="offcanvasNote">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title text-center" style="text-align:center" id="note-title"></h5>
        <button type="button"
                class="btn-close text-reset"
                data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
    </div>
    <div class="offcanvas-body flex-grow-1">
        <textarea dir="rtl" type="text" id="note-letter" class="form-control" rows="10"></textarea>

    </div>
</div>
